/* -------------------Navbar section */
#Navbar{
  -webkit-backdrop-filter:blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  height: 10vh;
  position: relative;
  z-index: 10;
}
.fixed.inset-0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-opacity-90 {
  background-color: rgba(0, 0, 0, 0.791);
}
#MobileLinks{
  height: 100vh;
}
/* ------------------Eye Testing section */
#Eyetesting{
  margin-top: -10vh;
}
#eyetesting-section{
  background: #deedff;
}
#Doctors{
  height: 50vh;
  padding: 20px;
}
.tre-card{
  width: 30%;
  margin: 20px 0px;
}
#tre-card-1{
  background-image: url(./assets/service-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-2{
  background-image: url(./assets/service-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-3{
  background-image: url(./assets/service-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-4{
  background-image: url(./assets/service-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-5{
  background-image: url(./assets/service-5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#treatment-text{
  position: relative;
  top: 67%;
  transition: all .8s;
  background: rgba(59, 131, 246, 0.813);
}
#treatment-text:hover{
  top: 0%;
}
#Appointment-form{
  height: 70vh;
}

/* ------------------Frames section */
#Frames::after{
  content: "ELEGANTE";
  background: -webkit-linear-gradient(right,#eee 46%, #45A9A3 52%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 130px;
  letter-spacing: 50px;
  font-weight: bolder;
  color: black;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#Frames{
  height: 100vh;
  margin-top: -10vh;
  background-image: linear-gradient(to right, rgb(248, 241, 228) 50%, #45A9A3 50%);
}
#frames-text{
  position: absolute;
  left: 8%;
  transform: translate(0%,0%);
  animation: textanimate 1.3s;
}
@keyframes textanimate{
  0%{
    transform: translate(0%,0%);
    left: -30%;
  }
  100%{
    transform: translate(0%, 0%);
    left: 8%;
  }
}
#imageDiv{
  height: 250px;
  position: absolute;
  top: 33%;
  right: 35.5%;
  transform: translate(0%, 0%);
  animation: glassanimate 1s  linear;
}
#mainImage{
 width: 600px;
}

@keyframes glassanimate{
  0%{
    scale: 0.30;
    transform: translate(0%, 0%) rotate(0deg);
  }
  50%{
    scale: 0.60;
    transform: translate(0%, 0%) rotate(180deg);
  }
  100%{
    scale: 1;
    transform: translate(0%, 0%) rotate(360deg);
  } 
}
#frames-btn-1, #frames-btn-2{
  background: #45a9a3;
  width: 120px;
  height: 50px;
  color: white;
  font-weight: 600;
  transition: ease .3s;
}
#frames-btn-2{
  width: 150px;
}
#frames-btn-1:hover, #frames-btn-2:hover{
  background: white;
  color: #45a9a3;
  border: 2px solid #45a9a3;
  font-weight: bold;
}
#copyright-section{
  border-top: 1px solid gray;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* --------------Category section */
#Categories{
  height: 28vh;
}
#cate1{
  position: absolute;
  top:100vh;
  left: 0%;
  transform: translate(0%, 0%);
  animation: appear 9s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#cate2{
  position: absolute;
  top:100vh;
  left: 33.3%;
  transform: translate(0%, 0%);
  animation: appear 9s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#cate3{
  position: absolute;
  top:100vh;
  left: 66.6%;
  transform: translate(0%, 0%);
  animation: appear 9s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
#cate-btn{
  background: #45a9a3;
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 600;
  transition: ease .3s;
}
#cate-btn:hover{
  background: white;
  color: #45a9a3;
  border: 2px solid #45a9a3;
  font-weight: bold;
}

/* ------------top products */
#top-products{
  background-image: linear-gradient(to right,  #45a9a3,white);
}
#product1{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-1.jpeg);
  background-size: cover;
  background-position: center;
}
#product2{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-2.jpeg);
  background-size: cover;
  background-position: center;
}
#product3{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-3.jpeg);
  background-size: cover;
  background-position: center;
}
#product4{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-4.jpeg);
  background-size: cover;
  background-position: center;
}
#product5{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-5.jpeg);
  background-size: cover;
  background-position: center;
}
#product6{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-6.jpeg);
  background-size: cover;
  background-position: center;
}
.product{
  height: 25rem;
  width: 30rem;
  border: 1px solid grey;
  border-bottom-right-radius: 15%;
  border-top-left-radius: 15%;
  backface-visibility: hidden;
  transition: all .5s;
  cursor: pointer;
}
#p-name{
  display: block;
}
.top-price{
  display: none;
}
.product-btn{
  background: #45a9a3;
  width: 200px;
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: 24px;
  font-family: 'poppins',sans-serif;
  transition: ease .3s;
}
.product-btn:hover{
  background: white;
  color: #45a9a3;
  border: 2px solid #45a9a3;
  font-weight: bold;
}
.product:hover{
  .top-price{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.27);
  }
  #p-name{
    display: none;
  }
}

/* -----------------brand section */
#brand{
  height: 50vh;
}

/* -----------------Frames Page---------------------------- */
#Product{
  background-image: url(./assets/products-page.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -10vh;
}
#Product-List{
  background: #45A9A3;
}
#Product-List .filter-btn{
  background: #45A9A3;
  color: white;
  border: 2px solid white;
  transition: all .5s;
}
#Product-List .filter-btn:hover{
  border:2px solid #45A9A3;
  color: #45A9A3;
  background: white;
}
#Product-List .active{
  border: 2px solid #45A9A3;
  background: white;
  color: #45A9A3;
}
/* ----------------Products Cards---------------------- */
.item-card{
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: large;
  padding: 20px;
  background: rgba(255, 255, 255, 0.507);
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: .5s;
  overflow: hidden;
}
.image img{
  width: 250px;
  height: 300px;
}
.content{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price{
  display: block;
}
.sidebar{
  display: none;
  background: black;
  width: 70px;
  height: 300px;
  overflow: hidden;
  transition:all 10s;
}
.name{
  width: 300px;
  height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sidebar .name h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    rotate: -90deg;
    width: 250px;
}
.item-card:hover{
  .card{
      width: 330px;
  }
  .image{
      rotate: 10deg;
  }
  .sidebar{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

/* ------------------Appointment page------------------- */
#Appointment{
  background-image: url(./assets/bg-image.jpg);
  background-size: cover; 
  background-position: center;
  margin-top: -10vh;
}
#appoint-form-section{
  -webkit-backdrop-filter:blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
}
/* -----------------About Page----------------------- */
#About{
  background-image: url(./assets/about-page-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -10vh;
}
#About #about-section{
  border-radius: 40px;
  overflow: hidden;
  -webkit-backdrop-filter:blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
}
#about-second-section{
  background-image: linear-gradient(to left, black 70%, #45A9A3 30%);
}
#about-second-section #a-s-s-options{
  position: relative;
  left: 35%;
}
#a-s-s-promise{
  height: 50vh;
}
/* ----------------Contact Page--------------------- */
#Contact{
  background-image: url(./assets/contact-page-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -10vh;
}
#Contact form{
  -webkit-backdrop-filter:blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(70, 170, 163, 0.37);
  border: 2px solid #45a9a231;
}
#Contact form input, form textarea{
  border-color: #45A9A3;
}




/* -----------------Responcive Tags----------------- */
@media (max-width: 1344px) {
  #eyetesting-title{
    font-size: 4rem;
  }
  #Doctors{
    height: 70vh;
    padding: 10px;
  }
  #doctors-section{
    width: 100%;
  }
  #choose-section{
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  #choose-text{
    padding-left: 0;
  }
  #choose-left p{
    font-size: 1.1rem;
  }
  #services-section{
    width: 100%;
  }
  .tre-card{
    width: 45%;
  }
  #f-Link{
    width: 30%;
  }
  #f-Link h1{
    width: 50%;
  }
  #f-Link ul{
    flex-direction: column;
    align-items: start;
    width: 60%;
  }
  #Frames::after{
    font-size: 6rem;
    top: 83%;
    letter-spacing: 2.5rem;
  }
  #imageDiv{
    top: 50%;
    left: 36%;
  }
  #mainImage{
    width: 100%;
  }
  #Categories{
    height: 36vh;
  }
  #swipdiv{
    width: 100%;
  }
  .product{
    width: 100%;
  }
  .a-s-s-heading{
    left: 0;
  }
  #a-s-s-options p{
    font-size: 1.2rem;
  }
  #a-s-s-options p span{
    font-size: 1.4rem;
  }
  #promise-div{
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
  #c-details{
    width: 50%;
  }
}
@media (max-width: 840px) {
  #eyetesting-section{
    flex-direction: column;
  }
  #left-section{
    width: 100%;
  }
  #right-section{
    width: 100%;
  }
  #right-section div{
    width: 100%;
  }
  #right-section div img{
    width: 13rem;
  }
  #Doctors{
    height: 100%;
  }
  #doctors-section{
    flex-direction: column;
    width: 100%;
  }
  #doctors-text{
    width: 90%;
  }
  #doctor-pic{
    margin: 1rem;
    width: 90%;
    display: flex;
    justify-items: center;
    justify-content: center;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
  }
  #chooseus{
    height: 100%;
  }
  #choose-section{
    padding: 2rem;
  }
  #choose-text{
    padding: 10px;
  }
  #sub-sections{
    flex-direction: column;
  }
  #choose-left{
    width: 100%;
  }
  #choose-right{
    width: 96%;
  }
  #services-text h1{
    text-align: center;
  }
  .tre-card{
    width: 80%;
  }
  #f-contact{
    width: 50%;
  }
  #f-Link{
    display: none;
  }
  #f-socialmedia{
    width: 50%;
  }
  #Frames::after{
    font-size: 4rem;
    top: 70%;
  }
  #Frames{
    align-items: center;
    height: 80vh;
  }
  #frames-title{
    width: 70%;
  }
  #imageDiv{
    top: 50%;
  }
  #Categories{
    height: 31vh;
  }
  #cate1, #cate2{
    top: 80vh;
    width: 50%;
  }
  #cate2{
    left: 50%;
  }
  #cate3{
    display: none;
  }
  .product{
    width: 200px;
    height: 300px;
  }
  #p-name{
    font-size: 1.4rem;
  }
  .product-btn{
    width: 150px;
  }
  #about-second-section{
    background-image: linear-gradient(to right, black 100%, #45a9a3);
    height: 100%;
  }
  #about-second-section #a-s-s-options{
    width: 100%;
    left: 0%;
    padding: 15px;
  }
  #Contact{
    flex-direction: column-reverse;
    height: 140vh;
    justify-content: center;
  }
  #c-form{
    width: 100%;
    margin: 1rem;
  }
  #c-details{
    width: 90%;
    margin: 1rem;
  }
  .sub-section{
    flex-direction: row;
  }
}
@media (max-width: 430px) {
  #eyetesting-section{
    padding-top: 20vh;
  }
  #left-section{
    height: 100%;
    margin-bottom: 2rem;
  }
  #eyetesting-subtitle{
    font-size: 1rem;
  }
  #eyetesting-title{
    font-size: 1.2rem;
  }
  #eyetesting-para{
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  #eyetesting-btn{
    font-size: 1rem;
    width: 150px;
  }
  #choose-heading{
    font-size: 2rem;
  }
  #choose-section{
    padding: 8px;
  }
  #choose-left div{
    width: 95%;
    height: 200px;
  }
  #choose-left div h1{
    font-size: 1.3rem;
  }
  #choose-left div p{
    font-size: 1rem;
  }
  #choose-right{
    width: 95%;
  }
  #services-text h1{
    font-size: 2rem;
  }
  #tre-card{
    width: 90%;
    height: 200px;
  }
  #treatment-text{
    width: 100%;
    height: 100%;
    top: 78%;
  }
  #treatment-text h1{
    font-size: 1.4rem;
  }
  .container h1{
    font-size: 2rem;
  }
  #f-c-l-s{
    flex-direction: column;
    align-items: start;
  }
  #f-contact{
    width: 90%;
  }
  #f-socialmedia{
    width: 90%;
    align-items: start;
    margin-bottom: 1rem;
  }
  #f-socialmedia h1{
    margin-bottom: 15px;
  }
  #copyright-section{
    padding: 2rem 0;
  }
  #copyright-section p{
    font-size: .8rem;
  }
  #Frames::after{
    display: none;
  }
  #Frames{
    background-image: linear-gradient(to right, #45A9A3 100%, white);
  }
  #frames-title{
    font-size: 2rem;
    width: 90%;
  }
  #frames-para{
    font-size: 1.2rem;
    color: white;
  }
  #frames-btn-1, #frames-btn-2{
    background: white;
    color: #45A9A3;
  }
  #frames-btn-1:hover, #frames-btn-2:hover{
    background: #45A9A3;
    color: white;
    border-color: white;
  }
  #imageDiv{
    width: 200px;
    left: 20%;
  }
  #c-image-div{
    display: none;
  }
  #cate1,#cate2{
    height: 31vh;
  }
  #cate1 h1,#cate2 h1{
    font-size: 2rem;
  }
  #top-products{
    padding: 15px;
  }
  .product{
    height: 150px;
    width: 150px;
  }
  #p-name{
    display: none;
  }
  .product-btn{
    font-size: 1rem;
    width: 110px;
    height: 30px;
  }
  #brands-section h1{
    font-size: 2.5rem;
  }
  .filter-btn{
    width: 5rem;
  }
  .item-card{
    width: 300px;
    margin: 0;
  }
  .card{
    width: 300px;
  }
  .sidebar{
    width: 100px;
  }
  #appoint-form-section{
    width: 100%;
  }
  .container h1{
    font-size: 1.5rem;
    padding: 0;
  }
  #About{
    height: 100%;
  }
  #about-section{
    width: 100%;
    margin-top: 12vh;
    margin-bottom: 1rem;
  }
  #about-section h1{
    font-size: 2rem;
  }
  #about-text p {
    font-size: 1rem;
  }
  #about-second-section{
    padding: 1.5rem;
  }
  .a-s-s-heading h1{
    font-size: 2.5rem;
  }
  #a-s-s-options{
    width: 100%;
  }
  #a-s-s-options p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #a-s-s-options p span{
    font-size: 1.2rem;
  }
  #a-s-s-promise{
    height: 100%;
  }
  #promise-div{
    padding: 1rem;
  }
  #promise-div h1{
    text-align: left;
  }
  #promise-div p{
    width: 100%;
  }
  #Contact{
    height: 100%;
  }
  #c-form{
    width: 100%;
  }
  #c-details{
    margin-top: 12vh;
  }
  .sub-section{
    flex-direction: column;
    width: 100%;
  }
  #business, #social-media{
    margin-left: 0;
  }
}



/* @media (max-width: 1024px) { 
  #Navbar img{
    width: 200px;
  }
  #left-section{
    width: 50%;
  }
  #eyetesting-title{
    font-size: 3.5rem;
  }
  #eyetesting-para{
    font-size: 1rem;
  }
  .about-doctor{
    font-size: 1rem;
  }
  #doctor-pic img{
    height: 20rem;
  }
  #choose-left h1{
    font-size: 1.4rem;
  }
  #choose-left p{
    font-size: 1rem;
  }
  #treatment-text{
    top: 73%;
  }
  #treatment-text h1{
    font-size: 1.5rem;
  }
  #tre-card-2 #treatment-text{
    top: 77%;
  } 
  #tre-card-4 #treatment-text {
    top: 69%;
  }
  #tre-card-5 #treatment-text {
    top: 69%;
  }
  #Frames{
    height: 60vh;
  }
  #Frames::after{
    top: 45%;
    font-size: 70px;
    letter-spacing: 30px;
  }
  #frames-title{
    font-size: 30px;
  }
  #frames-para{
    font-size: 14px;
  }
  #imageDiv{
    right: 32.5%;
    top: 18%;
  }
  #mainImage{
    width: 350px;
  }
  #frames-btn-1, #frames-btn-2{
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    height: 35px;
  }
  #frames-btn-2{
    width: 150px;
  }
  #frames-btn-2{
    width: 120px;
  }
  #Categories{
    height: 25.4vh;
  }
  #cate1, #cate2, #cate3{
    height: 345px;
    top: 60%;
  }
   #swipdiv{
    width: 100%;
  }
  .product{
    height: 25rem;
    width: 25rem;
  }
  .product #p-name{
    font-size: 25px;
  }
  #f-contact h1{
    font-size: 20px;
  }
  #f-contact p{
    font-size: 14px;
  }
  #f-link h1{
    font-size: 20px;
  }
  #f-link ul{
    font-size: 14px;
  }
  #f-link ul li a{
    margin: 8px;
  }
  #f-socialmedia h1{
    font-size: 20px;
  }
  #DisplayIcons a{
    font-size: 16px;
  }
  #Product{
    height: 70vh;
  }
  .Products-section h1{
    left: 4rem;
    top: -5rem;
    font-size: 40px;
  }
  .Products-section ul{
    top: -5rem;
    left: 7rem;
  }
  #Appointment{
    height: 90vh;
  }
  #About{
    height: 70vh;
  }
  #about-section{
    height: 50%;
  }
  #about-section h1{
    font-size: 50px;
  }
  #about-text p{
    font-size: 19px;
  }
  #about-second-section{
    height: 60vh;
  }
  #a-s-s-heading h1{
    font-size: 20px;
  }
  #a-s-s-options p{
    font-size: 16px;
  }
  #a-s-s-options p span{
    font-size: 22px;
  }
  #Contact{
    height: 100vh;
    justify-content: center;
    flex-direction: column-reverse;
  }
  #c-form{
    width: 100%;
    margin: 10px;
  }
  #c-details{
    width: 75%;
    margin: 10px;
  }
}

@media (max-width: 835px) {
  #eyetesting-section{
    flex-direction: column;
  }
  #left-section{
    width: 100%;
  }
  #right-section{
    width: 50%;
  }
  #Doctors{
    height: 100%;
  }
  #doctors-section{
    width: 100%;
    flex-direction: column;
  }
  #doctors-text{
    width: 80%;
  }
  #doctors-text, #doctor-pic{
    margin: 10px;
  }
  #chooseus{
    height: 100%;
  }
  #sub-sections{
    flex-direction: column;
  }
  #choose-left{
    width: 100%;
  }
  #choose-right{
    width: 95%;
  }
  .tre-card{
    width: 45%;
  }
  #tre-card-1 #treatment-text{
    top: 70%;
  }
  #tre-card-2 #treatment-text{
    top: 74%;
  }
  #tre-card-4 #treatment-text{
    top: 65%;
  }
  #Frames{
    height: 70vh;
  }
  #Frames::after{
    top: 55%;
  }
  #frames-text{
    left: 3%;
  }
  #frames-text h1{
    font-size: 45px;
  }
  #frames-text p{
    font-size: 20px;
  }
  @keyframes textanimate{
    0%{
      transform: translate(0%,0%);
      left: -30%;
    }
    100%{
      transform: translate(0%, 0%);
      left: 3%;
    }
  }
  #imageDiv{
    height: 250px;
    position: absolute;
    top: 24%;
    right: 0%;
    transform: translate(0%, 0%);
    animation: glassanimate 1s  linear;
  }
  #mainImage{
   width: 400px;
  }
  #cate1,#cate2,#cate3, #cate1 img, #cate2 img{
    top: 70%;
    height: 278px;
  }
  #cate1 h1, #cate2 h1, #cate3 h1{
    font-size: 25px;
  }
  #cate1 button, #cate2 button, #cate3 button{
    font-size: 14px;
    font-weight: 300;
    width: 100px;
    height: 35px;
  }
  .product{
    height: 20rem;
    width: 20rem;
  }
  .product #p-name{
    font-size: 20px;
  }
  #Products-section h1{
    font-size: 20px;
  }
  .item-card{
    width: 300px;
    height: 300px;
  }
  .card{
    width: 300px;
    height: 300px;
  }
  .sidebar .name h2{
    font-size: 18px;
    line-height: 1.5rem;
  }
  #f-contact{
    width: 80%;
  }
  #f-socialmedia{
    width: 20%;
  }
  #f-link{
    display: none;
  }
  #Appointment{
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #appointment-section, #vision{
    top: 0;
    left: 0;
  }
  #About{
    height: 100vh;
  }
  #about-section{
    height: 60%;
  }
  #about-second-section{
    height: 80vh;
    background: #000;
  }
  #a-s-s-options p{
    font-size: 16px;
  }
  #about-second-section #a-s-s-options{
    left: 8%;
    width: 90%;
  } 
  #a-s-s-options p span{
    font-size: 22px;
  } 
  #Contact{
    height: 115vh;
  }
}

@media (max-width: 428px) {
  #Frames::after{
    font-size: 40px;
    letter-spacing: 10px;
    top: 62%;
  }
  #frames-text h1{
    font-size: 30px;
    width: 70%;
    margin-bottom: 10px;
  }
  #frames-text p{
    font-size: 13px;
    margin-bottom: 10px;
  }
  #imageDiv{
    right: 26.5%;
    top: 37%;
  }
  #mainImage{
    width: 200px;
  }
  #frames-btn-1, #frames-btn-2{
    font-size: 10px;
    width: 70px;
    height: 30px;
    margin: 8px;
  }
  #frames-btn-2{
    width: 90px;
  }
  #Categories{
    height: 33vh;
  }
  #cate1, #cate2{
    width: 50%;
  }
  #cate2{
    left: 50%;
  }
  #cate3{
    display: none;
  }
  #cate1 h1, #cate2 h1{
    font-size: 20px;
  }
  #cate1 button, #cate2 button{
    font-size: 10px;
    font-weight: 300;
    width: 70px;
    height: 30px;
  }
  #top-products h1{
    font-size: 35px;
  }
  .product{
    height: 10rem;
    width: 8rem;
  }
  .product #p-name{
    display: none;
  }
  .top-price button{
    font-size: 10px;
    width: 70px;
    height: 30px;
  }
  #f-contact{
    display: none;
  }
  #f-socialmedia{
    width: 100%;
    margin-bottom: 10px;
  }
  #copyright-section p{
    font-size: 10px;
  }
  #Product{
    height: 100vh;
  }
  .Products-section h1{
    font-size: 25px;
    width: 300px;
    left: 0;
  }
  .Products-section ul{
    width: 200px;
    left: 2rem;
  }
  .Products-section ul li{
    font-size: 20px;
  }
  #Product-List button{
    width: 80px;
  }
  #About{
    height: 140vh;
  }
  #about-section{
    height: 70%;
    width: 90%;
  }
  #about-second-section{
    height: 150vh;
  }
  #about-second-section #a-s-s-heading{
    font-size: 16px;
    left: 0;
  }
  #a-s-s-options{
    left: 0;
  }
  #a-s-s-promise{
    height: 100vh;
  }
  #a-s-s-promise #promise-div{
    height: 90vh;
    width: 90%;
  }
  #promise-div h1{
    font-size: 50px;
  }
  #Contact{
    height: 205vh;
  }
  #c-details .sub-section{
    width: 100%;
  }
  #c-details #business, #c-details #social-media{
    margin-left: 0;
    margin-top: 10px;
  }
} */
@media (max-width: 1024px) {
  #DesktopLinks{
    display: none;
  }
}