/* -------------------Navbar section */
#Navbar{
  -webkit-backdrop-filter:blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  height: 10vh;
  position: relative;
  z-index: 10;
}
.fixed.inset-0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-opacity-90 {
  background-color: rgba(0, 0, 0, 0.791);
}
#MobileLinks{
  height: 100vh;
}
/* ------------------Eye Testing section */
#Eyetesting{
  margin-top: -10vh;
}
#eyetesting-section{
  background: #deedff;
}
#Doctors{
  height: 50vh;
  padding: 20px;
}
.tre-card{
  width: 30%;
  margin: 20px 0px;
}
#tre-card-1{
  background-image: url(./assets/service-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-2{
  background-image: url(./assets/service-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-3{
  background-image: url(./assets/service-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-4{
  background-image: url(./assets/service-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#tre-card-5{
  background-image: url(./assets/service-5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#treatment-text{
  position: relative;
  top: 67%;
  transition: all .8s;
  background: rgba(59, 131, 246, 0.813);
}
#treatment-text:hover{
  top: 0%;
}
#Appointment-form{
  height: 70vh;
}

/* ------------------Frames section */
#Frames::after{
  content: "ELEGANTE";
  background: -webkit-linear-gradient(right,#eee 52%, #2ea1db 48%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 130px;
  letter-spacing: 50px;
  font-weight: bolder;
  color: black;
  position: absolute;
  top: 75%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#Frames{
  height: 100vh;
  margin-top: -10vh;
  background-image: linear-gradient(to right, rgb(248, 241, 228) 50%, #2ea1db 50%);
}
#frames-text{
  position: absolute;
  left: 8%;
  transform: translate(0%,0%);
  animation: textanimate 1.3s;
}
@keyframes textanimate{
  0%{
    transform: translate(0%,0%);
    left: -30%;
  }
  100%{
    transform: translate(0%, 0%);
    left: 8%;
  }
}
#imageDiv{
  height: 250px;
  position: absolute;
  top: 33%;
  right: 35.5%;
  left: 35.5%;
  transform: translate(0%, 0%);
  animation: glassanimate 1s  linear;
}
#mainImage{
 width: 600px;
}

@keyframes glassanimate{
  0%{
    scale: 0.30;
    transform: translate(0%, 0%) rotate(0deg);
  }
  50%{
    scale: 0.60;
    transform: translate(0%, 0%) rotate(180deg);
  }
  100%{
    scale: 1;
    transform: translate(0%, 0%) rotate(360deg);
  } 
}
#frames-btn-1, #frames-btn-2{
  background: #2ea1db;
  width: 120px;
  height: 50px;
  color: white;
  border: 1px solid white;
  font-weight: 600;
  transition: ease .3s;
}
#frames-btn-2{
  width: 150px;
}
#frames-btn-1:hover, #frames-btn-2:hover{
  background: white;
  color: #2ea1db;
  border: 2px solid #2ea1db;
  font-weight: bold;
}
#copyright-section{
  border-top: 1px solid gray;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* ------------top products */
#top-products{
  background-image: linear-gradient(to right,  #2ea1db,white);
}
#product1{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-1.jpeg);
  background-size: cover;
  background-position: center;
}
#product2{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-2.jpeg);
  background-size: cover;
  background-position: center;
}
#product3{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-3.jpeg);
  background-size: cover;
  background-position: center;
}
#product4{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-4.jpeg);
  background-size: cover;
  background-position: center;
}
#product5{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-5.jpeg);
  background-size: cover;
  background-position: center;
}
#product6{
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)), url(./assets/product-6.jpeg);
  background-size: cover;
  background-position: center;
}
.product{
  height: 25rem;
  width: 30rem;
  border: 1px solid grey;
  border-bottom-right-radius: 15%;
  border-top-left-radius: 15%;
  backface-visibility: hidden;
  transition: all .5s;
  cursor: pointer;
}
#p-name{
  display: block;
}
.top-price{
  display: none;
}
.product-btn{
  background: #2ea1db;
  width: 200px;
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: 24px;
  font-family: 'poppins',sans-serif;
  transition: ease .3s;
}
.product-btn:hover{
  background: white;
  color: #2ea1db;
  border: 2px solid #2ea1db;
  font-weight: bold;
}
.product:hover{
  .top-price{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.27);
  }
  #p-name{
    display: none;
  }
}

/* -----------------brand section */
#brand{
  height: 50vh;
}

/* -----------------Frames Page---------------------------- */
#Product{
  background-image: url(./assets/products-page.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -10vh;
}
#Product-List{
  background: #2ea1db;
}
#Product-List .filter-btn{
  background: #2ea1db;
  color: white;
  border: 2px solid white;
  transition: all .5s;
}
#Product-List .filter-btn:hover{
  border:2px solid #2ea1db;
  color: #2ea1db;
  background: white;
}
#Product-List .active{
  border: 2px solid #2ea1db;
  background: white;
  color: #2ea1db;
}
/* ----------------Products Cards---------------------- */
.item-card{
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: large;
  padding: 20px;
  background: rgba(255, 255, 255, 0.507);
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: .5s;
  overflow: hidden;
}
.image img{
  width: 250px;
  height: 300px;
}
.content{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price{
  display: block;
}
.sidebar{
  display: none;
  background: black;
  width: 70px;
  height: 300px;
  overflow: hidden;
  transition:all 10s;
}
.name{
  width: 300px;
  height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sidebar .name h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    rotate: -90deg;
    width: 250px;
}
.item-card:hover{
  .card{
      width: 330px;
  }
  .image{
      rotate: 10deg;
  }
  .sidebar{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

/* ------------------Appointment page------------------- */
#Appointment{
  background-image: url(./assets/bg-image.jpg);
  background-size: cover; 
  background-position: center;
  margin-top: -10vh;
}
#appoint-form-section{
  -webkit-backdrop-filter:blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
}
/* -----------------About Page----------------------- */
#About{
  background-image: url(./assets/about-page-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -10vh;
}
#About #about-section{
  border-radius: 40px;
  overflow: hidden;
  -webkit-backdrop-filter:blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
}
#about-second-section{
  background-image: linear-gradient(to left, black 70%, #2ea1db 30%);
}
#about-second-section #a-s-s-options{
  position: relative;
  left: 35%;
}
#a-s-s-promise{
  height: 50vh;
}
/* ----------------Contact Page--------------------- */
#Contact{
  background-image: url(./assets/contact-page-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -10vh;
}
#Contact form{
  -webkit-backdrop-filter:blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(70, 170, 163, 0.37);
  border: 2px solid #45a9a231;
}
#Contact form input, form textarea{
  border-color: #2ea1db;
}




/* -----------------Responcive Tags----------------- */
@media(max-width:1440px){

  /* Eye testing page */
  #Eyetesting{
    height: 100%;

    #eyetesting-section{
      padding: 2rem;
      #left-section{
        
        height: 35rem;
        justify-content: center;
        gap: 2rem;
        #eyetesting-title{
          font-size: 3rem;
        }
      }
      #right-section{
        img{
          width: 90%;
        }
      }
    }
  }
  #Doctors{
    height: 100%;
    #doctors-section{
      width: 80%;
      padding: 1rem;

      #doctors-text{
        width: 40%;
      }

      #doctor-pic{
        border-radius: 2rem;
        height: 18rem;
        width: 20rem;
        margin: 1rem;
        display: flex;
        justify-content: center;
          
        img{
            height: 100%;
        }
      }
    }
  }  
  #chooseus{
    height: 100%;
  

    #choose-section{
      width: 100%;
      padding-bottom: 1rem;
      #choose-text{
        padding: 1.5rem;
        height: 8rem;
        text-align: center;
        
        h2{
          font-size: 1.5rem;
        }
        #choose-heading{
          font-size: 2.5rem;
        }
      }
      
    }

    #sub-sections{
      width: 80%;
      #choose-left{

        div{
          height: 8rem;
          h1{
            font-size: 1.2rem;
            font-weight: 600;
          }
          p{
            font-size: 1rem;
          }
        }
      }
    }
  }
  #services{
    height: 100%;
    #services-section{
      width: 90%;
    }
    #services-text{
      width: 100%;
      align-items: start;
      height: 10rem;

      h1{
        font-size: 2.6rem;
      }
    }
    #sub-services{
      .tre-card{
        #treatment-text{
          width: 100%;
          height: 85%;
          top: 70%;

          h1{
            font-size: 1.6rem;
            text-align: center;
          }
        } 
        #treatment-text:hover{
          top: 0;
        }
      }
      #tre-card-contact{
        align-items: center;
        padding: 1rem;
        
          h1{
            font-weight: 500;
            text-align: center;
          }
        }
    }
  }
  #Appointment-form{
    height: 100%;

    .container{
      width: 90%;
      padding: 0;
      margin-bottom: 1rem;

      h1{
        font-size: 2.5rem;
      }
    }
  }
  /* frames page */
  #Frames::after{
    content: "ELEGANTE";
    background: -webkit-linear-gradient(right,#eee 52%, #2ea1db 48%);
    background-clip: text;
    letter-spacing: 35px;
    left: 52%;
  }
  #Frames{

    #frames-section{
      align-items: end;
      #frames-title{
        width: 100%;
      }
      #imageDiv{
        top: 45%;
        right: 36%;
        left: 36%;
      }
      #mainImage{
        width: 400px;
      }
    }
  }
  #top-products{
      padding: 2rem 0;
      #swipdiv{
        width: 90%;
      }
  }
  #Product-List{
    button{
      width: 12rem;
      height: 3rem;
      font-size: 1.8rem;
    }
    #products-section{
      #Items{
        margin: 1rem;        
        .item-card{
          width: 300px;
          .card{
            width: 300px;
          }
          .sidebar{
              width: 100px;
          }
        }
      }
    }
    
  }
  /* Contact page */
  #c-form{
    width: 40%;
  }
  #c-details{
    width: 60%;
  }

  /* footer section */
  #f-c-l-s{
    #f-Link{
      h1{
        margin-bottom: 1rem;
      }
      ul{
        a{
          margin: 6px;
        }
      }
    }
  } 
}







@media(max-width:1024px){
  /* Navbar section */
  #Navbar{
    padding: 5px;
    margin: 0;

    .container{
      margin: 0;
      
      img{
        margin-left: -3rem;
        width: 18rem;
      }
      button{
        margin-right: 2rem;
      }
    }
  }

  /* Eye testing page */
  #Eyetesting{
    height: 100%;

    #eyetesting-section{
      padding: 2rem;
      flex-direction: column;

      #left-section{
        width: 100%;
        height: 33rem;
        justify-content: center;
        gap: 2rem;
        #eyetesting-title{
          font-size: 3rem;
        }
      }
      #right-section{
        width: 100%;
        div{
          width: 100%;
        }
        img{
          width: 30%;
        }
      }
    }
  }
  #Doctors{
    height: 100%;

    #doctors-section{
      flex-direction: column;
      width: 100%;
      padding: 1rem;

      #doctors-text{
        width: 100%;
        height: 20rem;
        padding: 0;
      }

      #doctor-pic{
        border-radius: 2rem;
        height: 40rem;
        width: 45rem;
        margin: 1rem;
        display: flex;
        justify-content: center;
          
        img{
            width: 70%;
            height: 100%;
        }
      }
    }
  }  
  #chooseus{
    height: 100%;

    #choose-section{
      width: 100%;

      #choose-text{
        padding: 1.5rem;
        height: 8rem;
        
        h2{
          font-size: 1.5rem;
        }
        #choose-heading{
          font-size: 2.5rem;
        }
      }
      
    }

    #sub-sections{
      flex-direction: column;

      #choose-left{
        width: 95%;

        div{
          height: 10rem;

          h1{
            font-size: 2rem;
            font-weight: 600;
          }
          p{
            font-size: 1.3rem;
          }
        }
      }
      #choose-right{
        width: 92%;
        height: 42rem;
        img{
          width: 100%;
        }
      }
    }
  }
  #services{
    height: 100%;
    #services-section{
      width: 90%;
    }
    #services-text{
      width: 100%;
      align-items: start;
      height: 10rem;

      h1{
        font-size: 2.6rem;
      }
    }
    #sub-services{
      flex-direction: column;

      .tre-card{
        width: 100%;

        #treatment-text{
          width: 100%;
          height: 85%;
          top: 70%;

          h1{
            font-size: 1.6rem;
            text-align: center;
          }
        } 
        #treatment-text:hover{
          top: 0;
        }
      }
      #tre-card-contact{
        align-items: center;
        padding: 1rem;
        
          h1{
            font-weight: 500;
            text-align: center;
          }
        }
    }
  }
  #Appointment-form{
    height: 100%;

    .container{
      width: 90%;
      padding: 0;
      margin-bottom: 1rem;

      h1{
        font-size: 2.5rem;
      }
    }
  }

  /* Frame page */
  #Frames::after{
    content: "ELEGANTE";
    background: -webkit-linear-gradient(right,#eee 50%, #2ea1db 52%);
    background-clip: text;
    font-size: 50px;
    letter-spacing: 30px;
    top: 48%;
    left: 52%;
  }
  #Frames{
    height: 80vh;
    /* margin-top: -10vh; */
    background-image: linear-gradient(to right, rgb(248, 241, 228) 50%, #2ea1db 50%);

    #frames-section{
      align-items: end;
      #frames-title{
        width: 80%;
        font-size: 3rem;
      }
      #imageDiv{
        top: 53%;
        right: 24%;
        left: 24%;
      }
      #mainImage{
        width: 400px;
      }
    }
  }
  #top-products{
      padding: 2rem 0;
      #swipdiv{
        width: 90%;
      }
      .product{
        height: 20rem;
        width: 20rem;
      }
  }
  #Product-List{
    button{
      width: 12rem;
      height: 3rem;
      font-size: 1.8rem;
    }
    #products-section{
      #Items{
        margin: 1rem;        

        .item-card{
          width: 300px;

          .card{
            width: 300px;
          }
          .sidebar{
              width: 100px;
          }
        }
      }
    }
    
  }

  /* appointment page */
  #appoint-form-section{
    width: 100%;

    form {
      label{
        font-size: 1.5rem;
      }
    }
  }
  
  /* about page */
  #about-section{
    width: 100%;
    #about-text{
      p{
        color: black;
      }
    }
  }
  #about-second-section{
    background-image: linear-gradient(to left, #2ea1db 70%, #2ea1db 30%);

    #a-s-s-heading, .left-40{
        width: 100%;
        left: 0;
        h1{
          color: black;
        }
    }
    #a-s-s-options{
        width: 100%;
        left: 0;
        p{
          color: rgb(0, 0, 0);
        }
    }  
  }
  #a-s-s-promise{
    #promise-div{
      width: 100%;
      height: 100%;
      p{
        width: 90%;
      }
    }
  }

  /* contact page */
  #Contact{
    height: 100%;
    flex-direction: column;

    #c-form{
      width: 100%;
      height: 90vh;

      form{
        width: 100%;
      }
    }
    #c-details{
      width: 100%;

      .sub-section{
        width: 100%;
      }
      #business, #social-media{
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  /* footer-section */
  #f-c-l-s{
    display: grid;
    grid-template-areas: 
    "contact  contact"
    "links  social-icons";
    grid-template-columns: 2fr 2fr;
    height: 100%;
    width: 100%;

    #f-contact{
      width: 100%;
      grid-area: contact;
    }
    #f-socialmedia{
      width: 100%;
      align-items: center;
      grid-area: social-icons;

      button{
        width: 100%;
      }
      #DisplayIcons{
        width: 100%;
        justify-content: space-between;

        a{
          margin: 0;
        }
      }
    }
    #f-Link{
      width: 100%;
      align-items: start;
      height: 13rem;
      grid-area: links;

      h1{
        margin-bottom: 1rem;
      }

      ul{
        flex-direction: column;
        align-items: start;
        margin: 0;
        
        a{
          margin: 0;
        }
      }
    }
  }
  #copyright-section{
      padding-top: 2rem;
  }
}






@media(max-width:600px){
  /* Navbar */
  #Navbar{
    padding: 5px;
    margin: 0;

    .container{
      margin: 0;
      
      img{
        margin-left: -2rem;
        width: 14rem;
        height: 14rem;
      }
      button{
        margin-right: 2rem;
      }
    }
  }
  
  /* EyeTesting Page */
  #Eyetesting{
    height: 100%;

    #eyetesting-section{
      flex-direction: column;
      justify-content: space-evenly;

      #left-section{
        width: 100%;
        height: 40rem;
        justify-content: center;

        #eyetesting-title{
          font-size: 3rem;          
        }
      }
      #right-section{
        width: 100%;
        div{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  #Doctors{
    height: 100%;

    #doctors-section{
      flex-direction: column;
      width: 100%;
      height: 100%;

      #doctors-text{
        width: 100%;
        height: 23rem;
      }

      #doctor-pic{
        border-radius: 2rem;
        height: 25rem;
        width: 23rem;
        margin: 1rem;
          
        img{
            width: 100%;
        }
      }
    }
  }  
  #chooseus{
    height: 100%;

    #choose-section{
      width: 100%;

      #choose-text{
        padding: 2rem;
        height: 10rem;
        
        h2{
          font-size: 1.3rem;
        }
        #choose-heading{
          font-size: 1.8rem;
        }
      }
      
    }

    #sub-sections{
      flex-direction: column;

      #choose-left{
        width: 100%;
        margin: 0;
        padding: 0;

        div{
          height: 13rem;

          h1{
            font-size: 1.4rem;
            font-weight: 600;
          }
          p{
            font-size: 1rem;
          }
        }
      }
      #choose-right{
        width: 82%;
        height: 15rem;
      }
    }
  }
  #services{
    height: 100%;

    #services-text{
      align-items: start;
      height: 10rem;

      h1{
        font-size: 2.2rem;
      }
    }
    #sub-services{
      flex-direction: column;

      .tre-card{
        width: 100%;

        #treatment-text{
          width: 100%;
          height: 85%;
          top: 70%;

          h1{
            font-size: 1.6rem;
          }
        } 
        #treatment-text:hover{
          top: 0;
        }
      }
      #tre-card-contact{
        align-items: center;
        padding: 1rem;
        
          h1{
            font-weight: 500;
            text-align: center;
          }
        }
    }
  }
  #Appointment-form{
    height: 100%;

    .container{
      width: 80%;
      padding: 0;
      margin-bottom: 1rem;

      h1{
        font-size: 2.5rem;
      }
    }
  }

  /* Frames Page */
  #Frames{
    height: 70vh;
    background-image: linear-gradient(to right, #2ea1db 50%, #2ea1db 50%); /*#0284c7*/
    padding: 0;
    #frames-section{
      align-items: center;

      #frames-text{
        #frames-title{
          font-size: 2rem;
          width: 100%;
        }
        #frames-para{
          font-size: 1rem;
          color: white;
          margin: 0;
        }
        button{
          width: 9rem;
        }
      }
    #imageDiv{
      top: 40%;
      right: 20%;
      left: 20%;
    }
    #mainImage{
      width: 250px;
    }
    }
    
  }
  #Frames::after{
      content: "";
  }
  #top-products{
    padding: 2rem 0;

    h1{
      font-size: 2.3rem;
    }
    #swipdiv{
      width: 90%;

      .product{
        height: 10rem;
        width: 10rem;

        #p-name{
          display: none;
        }
        .top-price{
          button{
            width: 100px;
            height: 30px;
            font-size: 1rem;
            background-color: #2ea1db;
          }
          button:hover{
            background-color: white;
            color: #2ea1db;
            border: #2ea1db;
          }
        }
      }
    }
  }
  #brands{
    h1{
      font-size: 2.5rem;
    }
  }
  #Product-List{
    #Product-heading{
      font-size: 2.5rem;
    }
    .filter-btn{
      width: 5rem;
      height: 2rem;
      font-size: 1rem;
    }
    #products-section{
      #Items{
        width: 90%;

        .item-card{
          width: 300px;

          .card{
            width: 300px;
          }
          .sidebar{
              width: 100px;
          }
        }
      }
    }
    
  }

  /* Appoinment page */
  #Appointment{
    #appoint-form-section{
      width: 100%;
      .container{
        padding: 0;
      }
      h1{
        font-size: 2.5rem;
      }
      form{
        label{
          font-size: 1rem;
        }
      }
    }
  }

  /* About page */
  #About{
    height: 100%;
    padding: 2rem 0;

    #about-section{
      width: 90%;
      height: 50rem;

      h1{
        font-size: 3rem;
      }
      #about-text{
        width: 90%;
        p{
          font-size: 1rem;
          color: black;
        }
      }
    }
  }
  #about-second-section{
      height: 100%;
      padding: 1.5rem;
      background-image: linear-gradient(to left, #2ea1db 50%, #2ea1db 50%);
          
      #a-s-s-heading, .left-40{
        width: 100%;
        left: 0;
        
        h1{
          font-size: 2.5rem;
          color: black;
        }
      }
      #a-s-s-options{
        width: 100%;
        left: 0;

        p{
          color: rgb(0, 0, 0);
          font-size: 1rem;
          line-height: 1.2rem;
          span{
            font-size: 1.2rem;
            color: black;
          }
        }
      }
  }
  #a-s-s-promise{
    height: 100%;

    #promise-div{
      height: 100%;
      width: 100%;
      border-radius: 0;
      padding: 1.5rem;

      h1{
        font-size: 3rem;
        width: 100%;
      }
      p{
        width: 100%;
        font-size: 1rem;
      }
    }
  }

  /* Contact page */
  #Contact{
    height: 100%;
    flex-direction: column;

    #c-form{
      width: 100%;
      height: 110vh;

      form{
        width: 100%;
      }
    }
    #c-details{
      width: 100%;

      .sub-section{
        width: 100%;
      }
      #business, #social-media{
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  /* footer-section */
  #f-c-l-s{
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0rem;

    #f-contact{
      width: 100%;
      padding: 0;
    }
    #f-socialmedia{
      width: 100%;
      align-items: center;
      padding: 0;

      button{
        width: 100%;
      }
      #DisplayIcons{
        width: 100%;
        justify-content: space-between;

        a{
          margin: 0;
        }
      }
    }
    #f-Link{
      width: 100%;
      align-items: start;
      height: 13rem;
      padding: 0;

      h1{
        margin-bottom: 1rem;
      }

      ul{
        flex-direction: column;
        align-items: start;
        margin: 0;
        
        a{
          margin: 0;
        }
      }
    }
  }
  #copyright-section{
      padding-top: 2rem;
      padding-left: 0;
      padding-right: 0;
  }
}

  





 
@media (max-width: 1023px) {
  #DesktopLinks{
    display: none;
  }
}